<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Sample Website</title>
	<link rel="stylesheet" href="/assets/styles.css"> <!--static file-->
	<link rel="stylesheet" href="/assets/form.css"> <!--static file-->
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>

<style>
	 body{background-color: orange}
	.container{margin: 0 auto; max-width: 400px;color: #fff; font-family: verdana;}
</style>

<body id="home">
	<%- include("partials/navigation") %> <!--This is how you put a partial html component in ejs-->
	
	<form id="contact-form" method="POST" action="/contact">
		<label for="who">Who do you want to contact?</label>
		<input type="text" name="who" value="<%= qs.who%>">
		
		<label for="department">Which department?</label>
		<input type="text" name="department" value="<%= qs.department%>">
		
		<label for="email">Your email</label>
		<input type="email" name="email">
		<input type="submit" value="submit">
		
		<p>Thank you for contacting us. We will ask <%= qs.who %> from the  <%= qs.department %> department to get back you asap</p>
	</form>
	
	<
</body>
</html>